/* -- homepage background image styles -- */

#index {
    background-image: url(images/sunsetbg.JPG);
    height: 100%; 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#index .home-container {
    max-width: 900px;
    height: 100%;
    padding: 0;
    margin: 0em auto;
}

/* -- navigation bar -- */

ul.navflex {
    display: flex;
    flex-direction: row;
    margin: 0;
}

ul.navflex a {
    text-align: center;
    border: 1px solid black;
    padding: 1px 1px 1px 1px;
    background-color: black;
    color: white;
    font-size: 17px;
}

ul.navflex a.active {
    background-color: white;
    color: black;
}

ul.navflex a:hover {
    background-color: #ddd;
    color: black;
  }

ul.navflex li {
    list-style-type: none;
    margin: 0;
    flex: 1;
}

/* -- homepage center -- */

.center-vertical {
    background-color: whitesmoke;
    margin: 3em auto 3em auto;
    padding: 1em 1em 1em 1em;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

img.home-img {
    margin: 0;
    width: 100%;
    box-shadow: 4px 4px 10px #999;
}